/* BigSideBar.module.css */

.container {
  height: 100vh;
  width: 25rem;
  background: white;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem 1rem 2rem;
  border-bottom: 2px solid #ccc;
}
